
.nav {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    
    
}

.nav:last-child {
    margin-right: 0;
}





.nav__link {
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: var( --main-color);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    &--current {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var( --main-color);
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
           color: var(--accent-color);
       }
    }
    .nav__link--current::after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 4px;
    background-color: #2196F3;
    position: absolute;
    bottom: 0;
    left: 0;
}
    
.nav__item {
    position: relative;
}